html, body {
  background-color: #f5f3ee;
  min-width: 500px;
}

body {
  background-position: center top;
  background-color: white;
  margin: 160px;
  padding: 50px; 
  min-width: 300px;
  color: #9d9d9d;
}

.portrait {
  position: absolute;
  top: 80px;
  left: 60px;
}

.header {
  margin-left: 100px;
  margin-bottom: 40px;
  text-align: right;
}

.name {
  display:inline;
  font-size: 60px;
  line-height: 0.6;
  color: black;
}

.neon {
  position: absolute;
  right: 160px;
}

.contact_info {
  margin-top: 50px;
  font-family: times;
  font-size: 12px;
  text-align: center;
}

.abstract {
  text-align: center;
}

.catigory {
  font-family: helvetica;
  margin-left: -15px;
  color:black;
}

.education {
  line-height: 0.8;
  border: 1px solid black;
}

p {
  font-family: futura;
  color: #9d9d9d;
}



