html, body {
  background-color: #f5f3ee;
}

body {
  background-position: center top;
  background-color: white;
  margin: 5000;
  color: #9d9d9d;
}

p{
  font-family: futura;
  color: #9d9d9d;
}

h{
  font-family: impact, helvetica;
  color:black;
}
