html, body, h1, h2, h3, p, ul, li, a {
  padding: 0;
  border: 0;
  margin: 0; 
  font-size: 100%;
  font: inherit;
}

html {
  background-color: #f5f3ee;
  min-width: 500px;
}

body {
  background-position: center top;
  background-color: white;
  margin: 160px;
  padding: 50px; 
  min-width: 300px;
  color: #9d9d9d;
}

.portrait {
  position: absolute;
  top: 80px;
  left: 45px;
}

.name {
  margin-bottom: 30px;
  margin-left: 100px;
  text-align: right;
}

header h1 {
  display: inline;
  font-size: 60px;
  color: black;
}


.first-name{
  font-family: 'lato', arial, helvetica;
  font-weight: 300;
}

.last-name{
  font-family: 'lato', arial, helvetica;
  font-weight: 700;
}

.neon {
  width:120px; 
  height:20px;
  position: absolute;
  right: 160px;
}

header h2 {
  margin-top: 80px;
  font-family: 'roboto', times;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
}

p {
  text-align: center;
  font-family: 'roboto', futura, sans-serif;
  color: #9d9d9d;
}

.experience h1 {
  font-family: 'lato', helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-left: -15px;
  color:black;
}

.experience h2 {
  border-radius: 15px;
  background-color: #aaaaaa;
  font-family: 'lato', helvetica, sans-serif;
  color: white;
  padding-left: 10px;
}

.education {
  margin-top: -10px;
  margin-bottom: -10px;
}


.alignleft {
  float: left;
}

.alignright {
  float: right;
}

main li {
  margin-left: 30px;
  font-family:'roboto', futura, sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #9d9d9d;
}

